<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/reset.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/index.css">
    <link rel="stylesheet" href="assets/css/404.css">
    <link rel="stylesheet" href="assets/css/hovers/hover.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Alike+Angular&family=Luckiest+Guy&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Alike+Angular&family=Inter:wght@100..900&family=Luckiest+Guy&display=swap');
    </style>
    <script src="https://kit.fontawesome.com/2557fb4e99.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="container">
        <div class="title">
            <h1 class="luckiest-guy-regular">404</h1>
        </div>
        
        <div class="text">
            <p>this page does not exist</p>
        </div>

        <div class="buttons">
            <a href="/">
                <i class="fa-regular fa-hand-point-left"></i>
                <p>BACK</p>
            </a>
        </div>
    </div>
</body>
</html>