<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Profile Pagina</title>
  <link rel="stylesheet" href="/assets/css/home.css" />
  <link rel="stylesheet" href="/assets/css/reset.css" />
  <link rel="stylesheet" href="/assets/css/profile.css" />
  <link rel="stylesheet" href="/assets/css/create-app.css" />
  <link rel="stylesheet" href="/assets/css/edit-app.css" />
  <script src="https://kit.fontawesome.com/2557fb4e99.js" crossorigin="anonymous"></script>
</head>

<body>
  <navigation>
    <div class="close-container">
      <a href="/home" class="close-x">❌</a>
    </div>
  </navigation>

  <div class="profile-container">
    <h1>Edit app</h1>
    <label for="name">Name
      <input name="name" id="name" type="text" maxlength="15" value="Compatguard" value="" />
    </label>


    <div id="apps-list-container">


      <div class="app">
        <div class="app-bottom">

          <div class="link">
            <div class="link-top">
              <p>MaMa Productie</p>
              <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </div>

            <div class="link-bottom">
              <div class="link-stats">
                <div class="link-stats-vws">
                  <div class="views">
                    <p>200</p><i class="fa-solid fa-eye"></i>
                  </div>
                </div>

                <div class="link-stats-sts">
                  <p class="status">online</p>
                </div>
              </div>
            </div>
          </div>



          <div class="link">
            <div class="link-top">
              <p>Luc's Sportschool</p>
              <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </div>

            <div class="link-bottom">
              <div class="link-stats">
                <div class="link-stats-vws">
                  <div class="views">
                    <p>200</p><i class="fa-solid fa-eye"></i>
                  </div>
                </div>

                <div class="link-stats-sts">
                  <p class="status">online</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <p id="delete">Delete</p>


    <button class="profile-save-button">
      <i class="fa-solid fa-check"></i>
    </button>
  </div>
  </div>
</body>

</html>