<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="../assets/css/home.css" />
  </head>

  <body>
    <div class="container">
      <div class="head">
        <h1 class="head-greating-name">Hallo alex,</h1>
        <p class="head-greeting-message">Goedemorgen 👋</p>
        <div class="head-icons-container">
          <div class="head-icon-item">
            <div class="icon-circle"></div>
            <div class="icon-item-name">Profile</div>
          </div>
          <div class="head-icon-item">
            <div class="icon-circle"></div>
            <div class="icon-item-name">Apps</div>
          </div>
          <div class="head-icon-item">
            <div class="icon-circle"></div>
            <div class="icon-item-name">Statistics</div>
          </div>
          <div class="head-icon-item">
            <div class="icon-circle"></div>
            <div class="icon-item-name">Settings</div>
          </div>
        </div>
      </div>
      <section class="apps-container">
        <div class="apps-head">
          <h2 class="section-name">My Apps</h2>
          <button class="add"></button>
        </div>
        <p class="notification-emp">Nothing to see.</p>
      </section>
      <div class="copyright-wrapper">
        <p class="copyright">Compatguard <br />creation by Bananen Team</p>
      </div>
    </div>
    <a href="/logout">LOGOUT</a>
  </body>
</html>
