<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/reset.css"/>
    <link rel="stylesheet" href="/assets/css/home.css"/>
    <script src="https://kit.fontawesome.com/2557fb4e99.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="container">
      <div class="head">
        <h1 class="head-greating-name">Hallo alex,</h1>
        <p class="head-greeting-message">Goedemorgen 👊🏻</p>
        <div class="head-icons-container">
          <a class="head-icon-item" href="/profile">
            <div class="icon-circle"></div>
            <div class="icon-item-name">Profile</div>
          </a>
          <a class="head-icon-item" href="/">
            <div class="icon-circle"></div>
            <div class="icon-item-name">Apps</div>
          </a>
          <a class="head-icon-item" href="/stats">
            <div class="icon-circle"></div>
            <div class="icon-item-name">Statistics</div>
          </a>
        </div>
      </div>
      <section class="apps-container">
        <div class="apps-head">
          <h2 class="section-name">My Apps</h2>
          <a class="add" href="/create-app"></a>
        </div>
        <div id="apps-list-container">


            <div class="app">
                <div class="app-top">
                    <div class="app-top-left">
                        <div class="app-status"></div>
                        <p>MaMa Productie</p>
                    </div> 
                    
                    <a class="app-top-right">
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>

                    </a>
                </div>

                <div class="app-bottom">
                    
                    <div class="link">
                        <div class="link-top">
                            <p>MaMa Productie</p>
                            <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        </div>

                        <div class="link-bottom">
                            <div class="link-stats">
                                <div class="link-stats-vws">
                                    <div class="views">
                                        <p>200</p><i class="fa-solid fa-eye"></i>
                                    </div>
                                </div>

                                <div class="link-stats-sts">
                                    <p class="status">online</p>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="link">
                        <div class="link-top">
                            <p>Luc's Sportschool</p>
                            <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        </div>

                        <div class="link-bottom">
                            <div class="link-stats">
                                <div class="link-stats-vws">
                                    <div class="views">
                                        <p>200</p><i class="fa-solid fa-eye"></i>
                                    </div>
                                </div>

                                <div class="link-stats-sts">
                                    <p class="status">online</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="app">
                <div class="app-top">
                    <div class="app-top-left">
                        <div class="app-status"></div>
                        <p>MaMa Productie</p>
                    </div> 
                    
                    <a class="app-top-right">
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>

                    </a>
                </div>

                <div class="app-bottom">
                    
                    <div class="link">
                        <div class="link-top">
                            <p>MaMa Productie</p>
                            <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        </div>

                        <div class="link-bottom">
                            <div class="link-stats">
                                <div class="link-stats-vws">
                                    <div class="views">
                                        <p>200</p><i class="fa-solid fa-eye"></i>
                                    </div>
                                </div>

                                <div class="link-stats-sts">
                                    <p class="status">online</p>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="link">
                        <div class="link-top">
                            <p>Luc's Sportschool</p>
                            <i class="fa-solid fa-arrow-up-right-from-square"></i>
                        </div>

                        <div class="link-bottom">
                            <div class="link-stats">
                                <div class="link-stats-vws">
                                    <div class="views">
                                        <p>200</p><i class="fa-solid fa-eye"></i>
                                    </div>
                                </div>

                                <div class="link-stats-sts">
                                    <p class="status">online</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="app">
                <div class="app-top">
                    <div class="app-top-left">
                        <div class="app-status"></div>
                        <p>MaMa Productie</p>
                    </div> 
                    
                    <a class="app-top-right">
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>

                    </a>
                </div>

            
            </div>
        </div>
        <!-- <p class="notification-emp">Nothing to see.</p> -->
      </section>
      <div class="copyright-wrapper">
        <p class="copyright">Compatguard <br />creation by Bananen Team</p>
      </div>
    </div>
  </body>
</html>
