<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/index.css">
    <link rel="stylesheet" href="../assets/css/hovers/hover.css">
    <link rel="stylesheet" href="../assets/css/animations/animation.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Alike+Angular&family=Luckiest+Guy&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Alike+Angular&family=Inter:wght@100..900&family=Luckiest+Guy&display=swap');
    </style>
</head>

<body>
    <div id="container">
        <div class="title">
            <h1 class="luckiest-guy-regular">WORDLE</h1>
        </div>
        
        <div class="text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>

        <div class="buttons">
            <a href="login">Login</a>
            <a href="home">Play</a>
        </div>
    </div>
</body>
</html>