<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Pagina</title>
    <script src="/assets/js/jquery.js" defer></script>

    <link rel="stylesheet" href="/assets/css/reset.css"/>
    <link rel="stylesheet" href="/assets/css/home.css"/>
    <link rel="stylesheet" href="/assets/css/warning.css"/>

    <script src="https://kit.fontawesome.com/2557fb4e99.js" crossorigin="anonymous"></script>
  </head>

  <body>
    
    <div id="container">
      <div class="warning">
          <i class="fa-solid fa-triangle-exclamation"></i>
      </div>

      <p class="warning-text"><b>Watch out!</b> Your phone might not have the right specifications.</p>
    
      <a id="doorgaan">continue anyways</a>
    
      <a id="oplossing" href="/requirements-help">how can i solve this?</a>
    </div>




  </body>
</html>