<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile Pagina</title>
    <link rel="stylesheet" href="/assets/css/home.css"/>
    <link rel="stylesheet" href="/assets/css/reset.css"/>
    <link rel="stylesheet" href="/assets/css/profile.css"/>
  </head>

  <body>
    <navigation>
      <div class="close-container">
        <a href="/home" class="close-x">X</a>
      </div>
    </navigation>

    <div class="profile-container">
        <label for="first-name">First Name
        <input name="firstname" id="first-name" type="text" maxlength="15" placeholder="First Name" value=""/>
        </label>

        <label for="last-name">Sir Name
        <input name="lastname" id="last-name" type="text" maxlength="25" placeholder="Sir Name" value=""/>
        </label>

        <label for="email">Email
        <input name="email" id="email" type="text" maxlength="40" placeholder="Enter Username" value=""/>
        </label>

        <button class="profile-delete-button">
          Delete Account
        </button>

        <button class="profile-logout-button">
          <a href="/logout">
            Logout
          </a>
        </button>
        
        <button class="profile-save-button">
          <img src="../assets/images/save-svg.svg" alt="save icon" />
        </button>
    </div>
    </div>
  </body>
</html>