<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Profile Pagina</title>
  <script src="/assets/js/jquery.js" defer></script>
  <script src="/assets/js/actions.js" defer></script>

  <link rel="stylesheet" href="/assets/css/home.css" />
  <link rel="stylesheet" href="/assets/css/reset.css" />
  <link rel="stylesheet" href="/assets/css/profile.css" />
  <link rel="stylesheet" href="/assets/css/create-app.css" />
  <link rel="stylesheet" href="/assets/css/edit-app.css" />
  <script src="https://kit.fontawesome.com/2557fb4e99.js" crossorigin="anonymous"></script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Palanquin:wght@100;200;300;400;500;600;700&display=swap');
</style>
</head>

<body>
  <navigation>
    <div class="close-container">
      <a href="/home" class="close-x">❌</a>
    </div>
  </navigation>

  <div class="profile-container">
    <h1>Profile</h1>

    <label for="firstname">First Name
      <input name="firstname" id="firstname" type="text" maxlength="20" value="<%=userData.firstname%>" />
    </label>

    <label for="lastname">Last Name
      <input name="lastname" id="lastname" type="text" maxlength="20" value="<%=userData.lastname%>" />
    </label>
    
    <label for="username">Username
      <input name="username" id="username" type="text" maxlength="20" value="<%=userData.username%>" />
    </label>

    <label for="email">Email
      <input name="email" id="email" type="text" maxlength="20" value="<%=userData.email%>" />
    </label>


    
    <a id="logout" href="/logout">
      Logout
    </a>



     

    <button id="edit-profile-save" class="profile-save-button">
      <i class="fa-solid fa-check"></i>
    </button>
  </div>
  </div>
</body>

</html>