<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/reset.css"/>
    <link rel="stylesheet" href="/assets/css/home.css"/>
    <link rel="stylesheet" href="/assets/css/stats.css"/>
  </head>

  <body>
    <div class="container">
      <div class="head">
        <h1 class="head-greating-name">Hallo alex,</h1>
        <p class="head-greeting-message">Goedemorgen 👊🏻</p>
        <div class="head-icons-container">
          <a class="head-icon-item" href="/profile">
            <div class="icon-circle"></div>
            <div class="icon-item-name">Profile</div>
          </a>
          <a class="head-icon-item" href="/">
            <div class="icon-circle"></div>
            <div class="icon-item-name">Apps</div>
          </a>
          <a class="head-icon-item" href="/stats">
            <div class="icon-circle"></div>
            <div class="icon-item-name">Statistics</div>
          </a>
        </div>
      </div>
      <section class="apps-container">
        <div class="apps-head">
          <h2 class="section-name">My Statistics</h2>
          <!-- <button class="add"></button> -->
        </div>



        <div id="apps-list-container">

          <% app.forEach((item, i)=> {
            
            console.log(item);%>

              <div class="app">
                <div class="app-top">
                    <div class="app-top-left">
                        <div class="app-status"></div>
                        <p><%= item.name %></p>
                    </div> 
                    
                    <a class="app-top-right">
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>

                    </a>
                </div>

                <div class="app-bottom">
                    <div class="app-stats-cont">

                      <div class="app-stat-likes">
                        <p><%= item.like %></p> <p>👍</p>
                      </div>

                      <div class="app-stat-dislike">
                        <p><%= item.dislike %></p> <p>👎</p>
                      </div>

                      <div class="app-stat-views">
                        <p><%
                          let total = 0;
                          item.links.forEach((item, i)=> {
                            total++;
                          });
                          
                           %><%= total %></p> <p>👀</p>
                      </div>
                    </div>
                </div>
            </div>
          <% }); %>
              

          <% 
          if(app.length < 1) { %>
              <p class="notification-emp">Nothing to see.</p>
          <%}
          %>


      </div>


        <!-- <div id="apps-list-container">

          <div class="app">
              <div class="app-top">
                  <div class="app-top-left">
                      <div class="app-status"></div>
                      <p>MaMa Productie</p>
                  </div> 
                  
                  <a class="app-top-right">
                      <i class="fa-solid fa-arrow-up-right-from-square"></i>

                  </a>
              </div>

              <div class="app-bottom">
                  <div class="app-stats-cont">

                    <div class="app-stat-likes">
                      <p>353</p> <p>👍</p>
                    </div>

                    <div class="app-stat-dislike">
                      <p>533</p> <p>👎</p>
                    </div>

                    <div class="app-stat-views">
                      <p>2233</p> <p>👀</p>
                    </div>
                  </div>
              </div>
          </div>
      </div> -->
        <!-- <p class="notification-emp">Nothing to see.</p> -->
      </section>
      <div class="copyright-wrapper">
        <p class="copyright">Compatguard <br />creation by Bananen Team</p>
      </div>
    </div>
  </body>
</html>
