h1 {
    font-size: 35px;
    font-family: 'core sans 45';
}

input, label, h1, p, a{
    font-family: 'core sans 45'!important;
}

.profile-container {
    display: flex;
    gap: 20px;
    padding-top: 100px;
}

.app {
    
}

#delete {
    color: #FF6666;
    font-size: 15px;
}