h1 {
    font-size: 35px;
    font-family: "Archivo", sans-serif;
    font-weight: 400;
    font-style: normal;
}

input, label, h1, p, a{
    font-family: "Archivo", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.profile-container {
    display: flex;
    gap: 20px;
    padding-top: 100px;
}

.app {
    
}

#delete {
    color: #FF6666;
    font-size: 15px;
}