h1 {
    line-height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 35px;
    font-family: 'core sans 45';
}

label {
    font-family: 'core sans 45';
}

.profile-container {
    display: flex;
    gap: 20px;
}
.qrcode-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#qrcode {
    width: 50%;
    aspect-ratio: 1;
}